.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}

.white-border {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.round {
  border-radius: 50%;
}
.row {
  display: flex;
  flex-direction: row;
}
